.div1{
	display: inline-block;
}
.logo{
	display: inline-block;
	vertical-align: text-top;
	margin-bottom: 40px;
}
li{
	display: inline-block;
}
.main{
	color: #ee4036;
	margin: 0px 26px 0px 50px;
	font-weight: bold;
}
.news{
	color: #3d58a6;
	margin-right: 46px;
	font-weight: bold;
}
.contacts{
	color: #3d58a6;
	font-weight: bold;
}
.number{

	width: 56px;
	height: 56px;
	border: 1px solid #3d58a6 ;
	box-sizing: border-box;
	padding: 12px 3px 16px 10px;
	background-color: #3d58a6;
	color: white;
	font-size: 37px;

}
.may{
	color: #3d58a6;
	margin-top: 10px;
}
.text1{
	color: #000000;
	margin-top: 30px;
	margin-bottom: 16px;
}
.img2{
	display: inline-block;
  	vertical-align: text-top;
  	margin-right: 39px;
  	margin-bottom: 192px;
}
.text2{
	display: inline-block;
	width: 930px;
	height: 360px;	
	vertical-align: text-top;

}
.line{
	width: 0px;
	height: 30px;
	display: inline-block;
	border: 1px solid #3d58a6;
	background-color: #3d58a6;
	margin-right: 30px;
	margin-left: 30px;

}