.div1{
	display: inline-block;
}
.logo{
	display: inline-block;
	vertical-align: text-top;
	margin-bottom: 40px;
}
li{
	display: inline-block;
}
.main{
	color: #ee4036;
	margin: 0px 26px 0px 50px;
	font-weight: bold;
}
.news{
	color: #3d58a6;
	margin-right: 46px;
	font-weight: bold;
}
.contacts{
	color: #3d58a6;
	font-weight: bold;
}
.number{

	width: 56px;
	height: 56px;
	border: 1px solid #3d58a6 ;
	box-sizing: border-box;
	padding: 12px 3px 16px 10px;
	background-color: #3d58a6;
	color: white;
	font-size: 37px;

}
.may{
	color: #3d58a6;
	margin-top: 10px;
}
.text1{
	color: #000000;
	margin-top: 30px;
	margin-bottom: 16px;
}
.img2{
	display: inline-block;
  	vertical-align: text-top;
  	margin-right: 39px;
  	margin-bottom: 192px;
}
.text2{
	display: inline-block;
	width: 930px;
	height: 360px;	
	vertical-align: text-top;

}
.line{
	width: 0px;
	height: 30px;
	display: inline-block;
	border: 1px solid #3d58a6;
	background-color: #3d58a6;
	margin-right: 30px;
	margin-left: 30px;

}
.banner{
	display: inline;
	margin-left: 140px;
	margin-bottom: 125px;
}
.container{
	margin: 0 auto;
	width:  1270px;
}

.title{
	font-family: Roboto;
	margin-bottom: 33px;
	font-size: 24px;
}
h3{
	font-family: roboto;
}
.left-card, .right-card{
	width: 570px;
	height: 225px;
	display: inline-block;
	background-color: #f2f2f2;
	vertical-align: top;
	padding: 18px 14px 24px 20px;
}
.left-card{
	margin-right: 26px;
}
.left-card h3{
	margin-bottom: 18px;
}
.right-card h3{
	margin-bottom: 26px;
}
img{
	display: inline-block;
	vertical-align: top;
}
.footer2{
	margin-top: 68px;
	margin-left: 130px;
}